pypdf
pytesseract
transformers
langchain
accelerate
chromadb
tiktoken
sentence_transformers==2.7.0
langchain_huggingface
langchain_chroma
langchain_community
streamlit
requests
langchain_text_splitters
pdf2image
pysqlite3-binary
protobuf==3.20.1

